/* @import-normalize; */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgb(65, 65, 65);
}
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color:#adadad;
}



:root {
  /* Typography */
  --family: 'Nunito Sans', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /* Other */
  --radii: 0.5rem;
}

body[data-theme='dark'] {
  --colors-text: hsl(0, 0%, 100%);
  --colors-bg: hsl(207, 26%, 17%);
  --colors-ui-base: hsl(209, 23%, 22%);

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}
body[data-theme='light'] {
  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 0%, 98%);
  --colors-ui-base: hsl(0, 0%, 100%);

  --shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

body {
  height: 100%;
  margin: 0;
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--colors-bg);
}



main {
  min-height: calc(100vh - 112.72px - 72px);
}




.pagination{
  background-color: #fafafa;
  border-radius: 10px;
  max-width: 344px;
  margin: 0 auto;
  padding: 10px 0;
}

.MuiPagination-ul.css-wjh20t-MuiPagination-ul {
  justify-content: center !important;
  flex-wrap: nowrap !important;
}




.header_img {
  width: 120px;
}


ul, ol {
  list-style-type: none;
  padding: 0;
}



.details_bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.details_bottom_weather {
  margin: 30px 0 15px;
}
.details_bottom_weather_list li{
  padding: 10px 5px;
  border-bottom: 2px solid #993f1f;

  display: inline-block;
  width: auto;
}


footer {
  min-height: calc(2vh);
}
.footer_github {
  display: flex;
  align-items: center;


  text-decoration: none;
  color: #fff;
}

.footer_github img {
  width: 40px;
  height: 40px;
}


h1 {
  /* box-shadow: 0px 0px 6px 6px rgba(34, 60, 80, 0.2); */
  display: inline-block;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: rgb(66, 75, 140)

}
